/* * {
    margin: 0;
    padding: 0;
} */


#stage {
    margin: auto;
    border: 1px dashed #c1c1c1;
    border-width: 0.5px;
    background-color: #f4ecec;
    height: 600px;
    width: 600px;
    /* background: transparent url(images/css_animation_exercise_4.png) 0 0 no-repeat; */

}

#hero {
    border: 1px dashed red;
    border-width: thin;
    height: 75px;
    width: 75px;
    left: 20px;
    top: 20px;
    position: relative;
    animation: animationDrillTest 17s infinite;
}


@keyframes animationDrillTest {

    0% {
    left: 20px;
    }
    29% {
    top:20px;
    left: 500px;
    border-radius: 0;
    }
    41% {
    top:200px;
    left: 500px;
    transform: rotate(0deg);
    }
    44.1% {
    top: 200px;
    left: 265px;
    transform: rotate(45deg);
    }
    55.86% {
    top: 200px;
    left: 265px;
    transform: rotate(45deg);
    border-color: red;
    border-radius: 0;
    }
    70.96% {
    top: 200px;
    left: 20px;
    transform: rotate(0deg);
    width: 75px;
    height: 75px;
    border-radius: 0px;
    border-color: blue;
    background: none;
    }
    100% {
    top: 440px;
    left: 445px;
    width: 150px;
    height: 150px;
    border-color: transparent;
    background: radial-gradient(circle closest-side at center, #FBDA61 0, #F76B1C 100% );
    border-radius: 150px;
    }
};
